html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	color: #707070;
    font-weight: normal;
    font-size: 13px;
    font-smoothing: antialiased;
    font-family: 'Nanum Gothic', sans-serif;
}
ul {
	list-style: none;
	padding-left: 0;
}
#wrapper {
	position: relative;
	min-height: 100%;
}
#header {
	position:relative;
	height: 130px;
}
header {
	position: fixed;
	background: white;
	margin-top: -16px;
	text-transform: uppercase;
	height: 130px;
	overflow: hidden;
	width:100%;
	z-index: 2;
}
header h1 {
	display: inline-block;
	position: absolute;
	left: 50%;
    top: 10px;
    transform: translateX(-50%);
}
header ul {
	overflow: hidden;
}
/*class util css*/
header nav:first-of-type{
	position: absolute;
	top: 15px;
	right: 3vw;
}
header nav:first-of-type li {
	float: left;
	margin-right: 10px;
}
header nav:first-of-type li a {
	font-size: 12px;
	text-decoration: none;
	color: #8a8a8a;
}
header nav:first-of-type li a:after {
	content: '';
	border-right: 1px solid #8a8a8a;
	padding-left: 10px;
}
header nav:first-of-type li:last-of-type a:after {
	content: '';
	border: 0px;
}
.util .fa, .fas {
    font-weight: 600;
    font-size: 12px;
    padding-right: 6px;
    color: #8a8a8a;
}
.util .select-box {
	margin-left: -10px;
	color: #a8a8a8;
    text-transform: uppercase;
    font-size: 8px;
    background: #f9f9f9;
    padding-top: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
/*.util css end*/

/*.menu css */
header nav:nth-of-type(2) {
	width:100%;
	padding-top: 70px;
}
nav:nth-of-type(2) > ul > li {
	float:left; 
	background: url('../img/i.png') no-repeat 0% 23%;
	line-height:25px; 
	width:15.5%;
	height: 100%;
}

nav:nth-of-type(2) > ul > li:nth-of-type(4) {
	margin-left: 7%;
}
nav:nth-of-type(2) > ul.menu > li > a {
    display: inline-block;
   	width: 100%;
	text-align: center;
	text-decoration: none; 
	font-size: 20px;
	font-weight: bold;
	font-family: NanumGothic;
	color: #303030;

}
nav:nth-of-type(2) > ul > li ul{ 
	width:100%; 
	height: 100%;
	display: block; 
	margin-left: 20%;
	padding-top: 25px;
}

nav:nth-of-type(2) > ul > li ul > li a {
	text-decoration: none;
	color: #a8a8a8;
}
nav:nth-of-type(2) > ul > li:nth-of-type(3) , nav:nth-of-type(2) > ul > li:nth-of-type(6) {
	background:none;
}
.menu {
	background: url('../img/image.png') no-repeat 51.5% -1%;
	height: 300px;
}

/*contents*/
#contents {
	/*position: relative;*/
	padding-bottom: 280px;
	margin-top: -13px;
}
#main-slider, #main-slider .main_slider_container {
	height: 580px;
}
#main-slider {
	position: relative;
	width: 100%;	
	overflow: hidden;
}
#main-slider .main_slider_container {
	position: absolute;
	width:100%;
    left: 0;
    padding:0;
	margin: 0;
}
.main_slider_container.animated {
	-webkit-transition: left .3s ease-in;
	transition: left .3s ease-in;
}

#main-slider .main_slider {
	position: absolute;
	width: 100%;
	overflow: hidden;
}
#main-slider .main_slider img{
	width:100%;
}
#main-slider .pager {
	display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}
#main-slider .pager span {
    width:15px;
    height:15px;
    background: #ccc;
    border-radius: 50%;
    display: inline-block;
    text-indent: -99999em;
    margin: 0 5px;
    cursor: pointer;	
}
#main-slider .pager span.active {
	background:#e30606;
}

#section-01 {
	position: relative;
	width: 100%;
	min-width: 320px;
    max-width: 1220px;
    margin: 37px auto 0;
    padding: 0 10px;
    box-sizing: border-box;
}
#section-01 #news {
	display: inline-block;
    box-sizing: border-box;
	width:48.33%;
}
#section-01 #news h2 {
	margin-bottom: 18px;
    font-size: 20px;
    color: #303030;
}
#section-01 #find-store {
	display: inline-block;
    box-sizing: border-box;
	width:48.33%;
	position: relative;
	margin-left: 3%;
}
#section-01 #find-store #search h2 {
	margin-bottom: 18px;
    font-size: 20px;
    color: #303030;
}
#section-01 #find-store #search h2 span {
	margin-left: 10px;

	line-height: 22px;
    font-weight: normal;
    font-size: 13px;
    color: #707070;
}
#section-01 #find-store #search h2 span label {
	margin: 0 5px;
	position: relative;
    padding-left: 20px;
}
#section-01 #find-store #search h2 span label:hover {
	cursor: pointer;
}
#section-01 #find-store #search h2 span label input {
	position: absolute;
    left: 0;
    bottom: 0;
}
#section-01 #find-store #search #search-input {
	position: relative;
}
#section-01 #find-store #search #search-input input {
	width:100%;
	height: 36px;
	padding-left: 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
}
#section-01 #find-store #search #search-input input::placeholder {
	color: #ccc;
}
#section-01 #find-store #search #search-input button {
	position: absolute;
	background:url('../img/search.gif');
	right: 0;
	top: 0;
	height: 36px;
	width:36px;
	border: none;
}
#section-01 #find-store #new-store {
	color: #303030;
	margin-bottom: 18px;	
	width: 41.379%;
    margin-right: 8.62%;
    position: relative;
    display: inline-block;
}
#section-01 #find-store #new-store h3 {
	margin-bottom: 20px;
}
#section-01 #find-store #new-store img {
	max-width: 100%;
}
#section-01 #find-store #new-store p {
	text-align: center;
	color: #707070;
}
#section-01 #find-store #new-store p span:after {
	content: '';
	border-right: 1px solid #bfbcbc;
	margin: 0 8px;
}
#section-01 #find-store #new-store p span:last-of-type:after {
	content: '';
	border: none;
}
#section-01 #find-store #new-store #new-store-slider {
	position: relative;
	width: 100%;	
	height: 205px;
	overflow: hidden;
}
#section-01 #find-store #new-store #new-store-slider .new_store_slider_container {
	position: absolute;
	width:100%;
	height: 205px;
    left: 0;
    padding:0;
	margin: 0;
}
#section-01 #find-store #new-store #new-store-slider .new_store_slider_container.animated {
	-webkit-transition: left .3s ease-in;
	transition: left .3s ease-in;
}
#section-01 #find-store #new-store #new-store-slider .new_store_slider_container .new_store_slider {
	position: absolute;
	width: 100%;
	overflow: hidden;
}
#section-01 #find-store #new-store .square-pager {
	display: inline-block;
    position: absolute;
    top: 10px;
    right: 0px;
}
#section-01 #find-store #new-store .square-pager span {
	width:17px;
    height:7px;
    background: #ccc;
    border-radius: 0%;
    display: inline-block;
    text-indent: -99999em;
    margin: 0 2px;
    cursor: pointer;
}
#section-01 #find-store #new-store .square-pager span.active {
	background:#e30606;
}

#section-01 #find-store #quick-menu {
	display: inline-block;
	position: absolute;
	width:43.1%;
}
#section-01 #find-store #quick-menu ul li {
	display: inline-block;
	width:49%;
}
#section-01 #find-store #quick-menu ul li a {
	text-decoration: none;
	text-align: center;
	color: #707070;
}
#section-01 #find-store #quick-menu ul li a img {
	position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#section-02 {
	margin-top: 40px;
    padding: 40px 0;
    background: #f9f9f9;
    position: relative;
}
#section-02 ul {
	overflow: hidden;
    width: 100%;
    min-width: 320px;
    max-width: 1220px;
    margin: 37px auto 0;
    padding: 0 10px;
    box-sizing: border-box;
}
#section-02 ul li{
	position: relative;
	display: inline-block;
	width: 24%;
    text-align: center;
    box-sizing: border-box;
}
#section-02 ul li dt {
	margin-bottom: 18px;
    padding-top: 20px;
}
#section-02 ul li dt a {
	top:35px;
	text-decoration: none;
	color: #303030;
	font: bold 20px NanumGothic;
}
#section-02 ul li dt a:before{
	content: '';
	background-color: #302309;
	position: absolute;
	height: 2px;
	left: 125px;
	top: 20px;
	width:35px;
}
#section-02 ul li dd {
	margin: 0;
}
#section-02 ul li dd p {
	margin:5 auto;
}
/*footer*/
#footer {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 170px;
	background: #2c2a29;
}
#footer footer{
	position: relative;
	width: 100%;
    min-width: 320px;
    max-width: 1220px;
    height: 155px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

#footer ul li {
	display: inline-block;

}
#footer ul li:after {
	content: '';
	margin:0 10px;
	border-right: 1px solid #dadada;
}
#footer ul li:last-of-type:after {
	content: '';
	border: none;
}
#footer ul li a {
	font-size: 12px;
	text-decoration: none;
	color: #dadada;
}
#footer .btn-top {
	position: absolute;
	right: 10px;
    top: -13px;
}
#footer .line {
	margin-top: 18px;
	height: 1px;
	background-color: #dadada
}
#footer h1 {
	display: inline-block;
	position: absolute;
	background: #2c2a29;
}
#footer .addr {
	margin-left: 70px;
	margin-top: 25px;
	font-size: 10px;
	color: #aaa;
}
#footer .addr span:after {
	content: '';
	margin: 0 5px;
	border-right: 1px solid #aaa;
}
#footer .addr span:last-of-type:after {
	content: '';
	border: none;
}
#footer .copyright {
	margin-left: 70px;
	font-size: 10px;
	color: #aaa;
}